@model Booking_clothes.Models.ReservationDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReservationDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.products)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.products.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartReservationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartReservationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndReservationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndReservationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
