@model IEnumerable<Booking_clothes.Models.ReservationDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "AdminLayout";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndReservationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.products.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndReservationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
